@helper Botao(string nome)
{
    <input type="submit" value="@nome" class="btn btn-primary" />
}

@helper Mensagem(object mensagem)
{
    if (mensagem != null)
    {
        <div class="alert alert-success">
            @mensagem
        </div>
    }
}